shapely==1.8.5
efficientnet-pytorch==0.7.1
chamferdist==1.0.0
torch-scatter==2.0.9
numba==0.48.0
numpy==1.20.3
trimesh==3.22.5
nuscenes-devkit==1.1.9
mmcv-full==1.3.9 -f https://download.openmmlab.com/mmcv/dist/cu111/torch1.9.0/index.html
mmdet==2.14.0
mmsegmentation==0.14.1
lyft_dataset_sdk==0.0.8